
<!--<div id="footer" class="fixed-bottom">-->
<!--  <div class="container">-->
<!--    <span class="float-left">Trademark yelp-camp-x 2018 <i class="fa fa-copyright" aria-hidden="true"></i> <a href="https://github.com/happyzhanls/yelp-camp-x" target="_blank">zhanls</a>.</span>-->
<!--    <span class="float-right"></span>-->
<!--  </div>-->
<!--</div>-->

<footer>
  <p>&copy; 2018 Daniel Zhan</p>
  <p>YelpCamp created during <a href="https://www.udemy.com/the-web-developer-bootcamp/learn/v4/overview" target="_blank">The Web Developer Bootcamp</a> by Colt Steele.</p>
  <ul>
    <li><a href="https://github.com/happyzhanls"><i class="fa fa-github-square fa-2x whiteIcon" aria-hidden="true"></i></a></li>
    <li><a href="https://twitter.com/Linsong_Zhan"><i class="fa fa-twitter-square fa-2x whiteIcon" aria-hidden="true"></i></a></li>
    <li><a href="https://www.linkedin.com/in/LinsongZhan"><i class="fa fa-linkedin-square fa-2x whiteIcon" aria-hidden="true"></i></a></li>
  </ul>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>  
</body>
</html>