<% include ../partials/header %>

<div class="container">
  <h2 class="text-center">Edit your comment below!</h1>
  <form action="/campgrounds/<%= campground_id %>/comments/<%= comment._id %>?_method=put" method="post" class="mx-auto customized-form">
    <div class="form-group">
      <label for="a"><i class="fa fa-comment" aria-hidden="true"></i> Your current comment:</label>
      <textarea id="a" class="form-control" name="comment[text]" required><%= comment.text %></textarea>
    </div>
    <div class="form-row">
      <div class="form-group col-4 offset-1">
        <button type="submit" class="btn btn-primary btn-block rounded">Save changes</button>
      </div>
      <div class="form-group col-4 offset-2">
        <button type="reset" class="btn btn-secondary btn-block rounded">Cancel</button>
      </div>
    </div>
    <div class="form-group">
        <a href="/campgrounds/<%= campground_id %>" class="btn btn-secondary btn-block rounded" role="button" aria-pressed="true">Go Back</a>
    </div>
  </form>
</div>

<% include ../partials/footer %>