<% include ../partials/header %>

<div class="container-fluid" id="center-div">
    <h2 class="text-center">Create a new campground</h2>
    <form action="/campgrounds" method="post" class="mx-auto" style="width: 500px;">
      <div class="form-group">
        <label>
          Campground Name
          <input type="text" class="form-control" placeholder="Enter your campground name" name="name" required>
        </label>
      </div>
      <div class="form-group">
        <label>
          Campground Image
          <input type="file" class="form-control-file" name="image" accept="image/*" required>
        </label>
      </div>
      <div class="form-group">
        <label>
          Campground Description
          <textarea row="4" class="form-control" placeholder="Enter your campground description" name="description" required></textarea>
        </label>
      </div>
      <div class="form-group">
        <label>
          Campground Location
          <input class="form-control" type="text" placeholder="Enter your campground location, eg: Yosemite National Park, CA" name="location" required>
        </label>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block rounded">Submit</button>
      </div>
      <div class="form-group">
        <a href="/campgrounds" class="btn btn-secondary btn-block rounded" role="button" aria-pressed="true">Go Back</a>
      </div>
    </form>
</div>

<% include ../partials/footer %>