body {
  background-image: url(https://images.unsplash.com/photo-1477696957384-3b1d731c4cff);
  background-size: cover;
  margin-top: 70px;
  width: 100%;
  height: 100%;
}

/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}

#inline-form {
  display: inline;
}

.customized-form {
  background-color: #dfc7b2;
  width: 500px;
  padding: 5px 10px;
  border: 2px outset black;
}

.jumbotron {
  background-color: transparent;
}

.jumbotron h1, .jumbotron p {
  color: #dfc7b2;
}

#footer {
  color: white;
  background-color: transparent;
  text-align: center;
  padding: 10px;
  font-size: 1rem;
}
