body {
  margin-top: 70px;
}

/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}

/*Vertically Centered Form*/
#center-div {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 600px;
  height: 300px;
}

#inline-form {
  display: inline;
}